.form-smurf
	form
		background-color #88CCFF
		padding 2rem
		margin-bottom 2rem
		label
			color #0c72bf
		input, button
			border-color #0c72bf
		button
			background-color #0c72bf
		textarea
			border-color #0c72bf
			
+above(l)
	.form-smurf
		form
			margin-bottom 0