.form-login
	form
		background-color white
		padding 2rem
		margin-bottom 2rem
		h2
			margin 0 0 0.83rem
		.form-body
			margin-bottom 0.5rem
			label
				color #0c72bf
			input, button
				border-color #0c72bf
			button
				background-color #0c72bf
			textarea
				border-color #0c72bf
			
+above(l)
	.form-login
		form
			margin-bottom 0